#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#pomodoro-timer {
  margin-top: 15%;
}

.label-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  margin: 20px 0;
}

.container {
  flex-direction: column;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  margin: 10px 0;
}

.timer-container {
  height: 120px;
  width: 200px;
  margin: 0px auto;
  border-radius: 20px;
  border: 5px solid rgb(76, 225, 76);
  padding-top: 16px;
}

#timer-label {
  font-size: 24px;
}

#time-left {
  font-size: 40px;
}
